body {
  width: 100%;
  height: 100vh;
  background: rgb(29,29,29);
  background: radial-gradient(circle, rgba(29,29,29,1) 0%, rgba(0,0,0,1) 100%);
}

.container {
  height: 100%;
  color: white;
  font-family: 'Special Elite', cursive;
  padding-top: 96px;
  text-align: center;
  margin: auto;
  max-width: 70%;
  animation: fade-in 1s linear;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.inventoryButton {
  font-weight: 600;
  font-family: 'Special Elite', cursive;
  margin-top: 16px;
  border-radius: 8px;
  border: white solid 2px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 24px;
  cursor: pointer;
}

.inventoryButton:hover{
  margin-top: 16px;
  border-radius: 8px;
  border: white solid 2px;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 24px;
  cursor: pointer;
  transition: all 0.2s;
  transform: scale(1.05);
}

.inventoryButton:active{
  margin-top: 16px;
  border-radius: 8px;
  border: white solid 2px;
  background-color: #111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 24px;
  cursor: pointer;
  transform: scale(0.95);
}

.bar {
  width: 100%;
  height: 32px;
  padding-top: 16px;
  justify-content: center;
  display: flex;
}

.inventoryContainer {
  font-family: 'Special Elite', cursive;
  width: 80%;
  margin: auto;
  padding: 0 16px;
  animation: grow 0.2s ease-out;
  max-height: 320px;
  color: black;
  font-size: 0.8em;
  overflow-y: scroll;
}

@keyframes grow {
  from {
    height: 0;
  }
  to {
    height: 240px;
  }
}

.inventoryModal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -100%);
  font-size: 1.5rem;
  padding: 0 8px;
  border: 1px solid #777;
  border-radius: 8px;
  box-shadow: 0px 4px 5px 2px rgba(0,0,0,0.4);
  width: 80%;
  outline: none;
  background-color: #e9e7e7;
}

.inventoryModal__closeButton {
  border-radius: 8px;
  padding: 0px 4px 2px 4px;
  width: 20px;
  height: 26px;
  position: absolute;
  left: 4px;
  top: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inventoryModal__closeButton:hover {
  border-radius: 8px;
  background-color: rgba(0,0,0,0.1);
  transition: all 0.2s;
}

.ReactModal__Overlay {
  background-color: rgba(50,50,50,0.5) !important;
}

.inventory__itemFoundDate {
  margin-top: 4px;
  font-size: 0.75em;
  opacity: 0.7;
}